body {
    font-family: roboto;
    margin: 2em;
    color: #3d3d3d;
    --mdc-theme-primary: #007f8b;
    --mdc-theme-on-primary: #f1f3f4;
  }
  
  h1 {
    color: #007f8b;
  }
  
  h2 {
    clear: both;
  }
  
  em {
    font-weight: bold;
  }
  
  video {
    clear: both;
    display: block;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }
  
  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .mdc-button.mdc-button--raised.removed {
    display: none;
  }

  #webcam {
    margin-top: 15px !important;
  }
  
  
  .invisible {
    opacity: 0.2;
  }
  
  .videoView,
  .detectOnClick {
    position: relative;
    float: left;
    width: 48%;
    margin: 2% 1%;
    cursor: pointer;
  }
  
  .detectOnClick p {
    position: absolute;
    padding: 5px;
    background-color: #007f8b;
    color: #fff;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
    margin: 0;
  }
  
  .videoView p {
    position: absolute;
    padding-bottom: 5px;
    padding-top: 5px;
    /* background-color: #007f8b; */
    color: #fff;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 16px;
    margin: 0;
    text-align: center;
    font-weight: bold;
  }
  
  .highlighter {
    /* background: rgba(0, 255, 0, 0.25); */
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
    font-size: 16px;
  }
  
  .detectOnClick {
    z-index: 0;
  }
  
  .detectOnClick img {
    width: 100%;
  }
  
  .key-point {
    position: absolute;
    z-index: 1;
    width: 3px;
    height: 3px;
    background-color: #ff0000;
    border-radius: 50%;
    display: block;
  }
  
  /* Class for red background (when too close) */
.red-background {
  background-color: rgba(255, 0, 0, 0.3); 
}

/* Class for green background (good distance) */
.green-background {
  background-color: rgba(0, 255, 255, 0.3); 
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#webcamButton, #cancelButton {
  padding: 15px 65px;
  box-sizing: border-box;
  font-size: 12px;
}
#cancelButton {
  background-color: #ea3b3b;
}
/* 
#customModal {
  display:none;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.5); 
  display: flex; 
  justify-content: center; 
  align-items: center;
} */

